# Based on the example of the uv docs:
# https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi
name: Publish to pypi
on:
  release:
    types:
      - released

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/pydantic-media-type/
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Python 3.14
        run: uv python install 3.14

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
